.a{
    background-color: rgb(40, 92, 75); 
    width: 80%;
    height: 900px;
    text-align: center;
    padding: 20px;
    margin: auto;
}
.b{
    color: rgb(161, 161, 161);
}
.b1{
    padding-top: 20px;
}
.b2{
    padding-top: 20px;
}
.b3{
    padding-top: 20px;
}
.ad{
    padding: 20px;
}
.e{
    color: rgb(168, 171, 173);
    padding: 10px;
}
.f{
    color: rgb(168, 171, 173);
    padding: 10px;
}
.g{
    color: rgb(168, 171, 173);
    padding: 10px;   
}
